<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975813922047-iig0tvgskubr465b23heh3blj2jpnnu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975813922047-iig0tvgskubr465b23heh3blj2jpnnu5</string>
	<key>API_KEY</key>
	<string>AIzaSyCQz03ZmKOsKQ49yxbVrve088Bc802nhs8</string>
	<key>GCM_SENDER_ID</key>
	<string>975813922047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wafflestudio.gatgu</string>
	<key>PROJECT_ID</key>
	<string>gatgu-85b09</string>
	<key>STORAGE_BUCKET</key>
	<string>gatgu-85b09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975813922047:ios:1f9a8223171d647f2550ca</string>
</dict>
</plist>